<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="sidenav">
          <ul class="post-list">
            {% for post in posts %}
              <li>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    <script>
      $(window).scroll(function() {
        if ($('body').scrollTop() !== 0) {
          $('header').addClass('sticky');
        } else {
          $('header').removeClass('sticky');
        }
      });
    </script>
  </body>

</html>
